body{
    user-select: none;
    margin: 0%;
    max-width: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

#space{
  display: block;
  position: relative;
  height: 3rem;
  min-height: 75px;
}

#navbar{
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  display: flex;
  background-color: white;
  width: 100vw;
  flex-direction: row;
  justify-content: space-between;
  max-height: 3rem;
  min-height: 75px;
  padding: 0 4vw;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 1000;
}

#navbar a{
  text-decoration: none;
  border: none;
  outline: none;
}

.navbar-buttons a{
  border: none;
  outline: none;
  background-color: white;
  margin: 0 2vw;
  font-size: 1.15rem;
  font-weight: 500;
  color: #000000;
  font-family: 'Indira Sans', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

.navbar-buttons :hover{
  cursor: pointer;
  /* font-weight: bold; */
}

.navbar-buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#main-button{
  min-width: fit-content;
  border-radius: 10px;
  height: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 1vw;
}

.blue{
  background-color: #4550f0;
  box-shadow: rgba(32, 32, 255, 0.25) 0px 13px 27px -5px, rgba(38, 17, 228, 0.3) 0px 8px 16px -8px;
}

.blue a{
  background-color: #4550f0 !important;
  color: aliceblue;
  text-decoration: none;
}

.blue :hover{
  background-color: #4853f3;
  color: aliceblue;
  text-decoration: none;
}

#main-button a{
  margin: 0 2vw;
  font-size: 1.15rem;
  text-decoration: none;
}

.light{
  background-color: #eeeeee;
  border: 1.5px solid #4550f0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px ;
}

.light a{
  background-color: #eeeeee ;
  font-weight: 700;
  color: #5A37F8;
}

#front-page .light:hover{
  border: none;
  box-shadow: rgba(32, 32, 255, 0.25) 0px 10px 20px, rgba(38, 17, 228, 0.3) 0px 6px 6px;
  transform: scale(1.05) translateY(-3px);
}

#front-page .blue:hover{
  box-shadow: rgba(32, 32, 255, 0.25) 0px 10px 20px, rgba(38, 17, 228, 0.3) 0px 6px 6px;
  transform: scale(1.05) translateY(-3px);
}

.light:hover a{
  text-decoration: none;
}

#navbar img{
  width: 100px;
  height: 75px;
  border: none;
  outline: none;
}

.navbar-buttons .icon{
  margin-right: 7px;
  font-size: 1.5rem;
  position: relative;
  top: -2px;
}

#hamburger-menu{
  font-size: 2.5rem;
  display: none;
}

#front-page{
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: min-content;
}

#front-page img{
  height: calc(100vh - 5rem);
  max-width: 50vw;
  clip-path: insert(0 60% 0 0);
  object-fit: cover;
}

.front-title{
    padding: 4vw 8vw;
    z-index: 1;
}

.front-buttons #main-button{
  width: 150px;
  font-weight: 600;
  height: 3.5rem;
}

.front-buttons{
  display: flex;
  flex-direction: row;
  gap: 2vw;
  width: 100%;
}

#front-page h1{
  font-size: 4.5em;
  width: 50%;
  /* padding: 4vw 8vw; */
}

.hightlight-text{
  color: #4550f0;
}

#about-us{
  /* box-sizing: border-box ; */
  background-color: #D1D9FD;
  max-width: 100vw;
  padding: 3vh 8vw;
  justify-content: center;
  align-items: center;
}

.about-us-buttons{
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  justify-content: center;
  gap: 2vw;
  padding: 1vh;
}

.about-us-buttons #main-button{
  opacity: 0.8;
}

#about-us h1, h2{
  max-width: 100vw;
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 0.75vh;
}

#about-us h1{
  font-size: 2.5em;
}

#services-container {
  display: flex; 
  justify-content: flex-start; 
  overflow-x: auto;   
  white-space: nowrap;
  scroll-behavior: smooth; 
}

#services-container::-webkit-scrollbar {
  display: none; 
}

.service-card {
  flex-shrink: 0; 
  margin: 0 calc(25%/6); 
  border: 1px solid #ddd;
  text-wrap: wrap;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  background-color: #E8ECFD;
  text-overflow: ellipsis;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 25%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: relative;
  padding-bottom: 10px;
}

.service-text-wrap{
  padding: 5%;
}

.service-card img{
  max-width: 100%;
  border-radius: 8px;
  aspect-ratio: 16/9;
}

.service-card h3 {
  font-family:'Kadwa', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #5B5170;
  font-size: 1.7em;
  margin-top: 0;
  margin-bottom: 0;
}

.service-card p {
  color: #666;
  font-size: 1.1em;
  margin-bottom: 5px;
  transform: translateY(-20px);
}

.more-info{
  position: absolute;
  bottom: 8px;
  right: 20px;
}


#services h1{
  text-align: center;
  font-size: 2.5em;
}

#services{
  margin: 0 calc(25%/8);
  position: relative;
  padding-top: 2vh;
  padding-bottom: 4vh;
}

#scroll-left, #scroll-right{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 500;
  border: none;
  font-size: 2.7rem;
  cursor: pointer;
  border-radius: 50%;
}

#scroll-left {
  left:0;
}

#scroll-right {
  right: -10px;;
}

.more-info a{
  text-decoration: none;
  font-size: 1.1em;
  color:#1B10E4 !important;
  text-shadow: 2px 2px 0px rgba(0,0,0,0.2);

}

#footer{
  /* height: 40vh; */
  background-color: #000000;
  padding: 25px 8%;
  color: #fff;
}

#footer p{
  font-weight: 600;
  font-size: large;
}

.contacts-grid{
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 columns */
  grid-template-rows: 1fr 1fr;
  width: 66%;
}

.contacts-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-contact{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  gap: 10px;
}

#about-us-page{
  text-align: center;
}

#about-us-page svg{
  font-size: 40px;
  position: fixed;
  top: 100px;
  left: 20px;
}

#our-story svg{
  font-size: 40px;
  position: fixed;
  top: 100px;
  left: 20px;
}

.sub-titles p{
  font-weight: 600;
}

.doctor-details{
  background-color: #E8ECFD;
  width: 60%;
  height: 250px;
  padding: 30px 50px;
  text-align: start;
  border-radius: 10px;
}

.doctor-details h2{
  text-align: start;
}

.doctor-details-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.doctor-details-container img{
  width: 300px;
  aspect-ratio: 1/1;
  border-radius: 20px;
}

.doctor-details-container .sub-titles{
  display: flex;
  flex-direction: row;
  gap: 10%;
  text-wrap: nowrap;
}

#doctors-details-container{
  padding-bottom: 30px;
}

#about-us-page h1{
  font-size: 35px;
}

.available{
  /* background-color: #1B10E4; */
  display: inline-block;
  margin: 0 5px;
  font-weight: 700;
  border-radius: 50%;
}

.unavailable{
  /* background-color: #fff; */
  margin: 0 5px;
  display: inline-block;
  font-weight: 500;
  border-radius: 50%;
}

#our-story{
  display: flex;
  justify-content: center;
}

#our-story-container{
  padding: 40px 0;
  width: 90%;
}

#our-story-container h1{
  text-align: center;
  font-size: xx-large;
  margin-top: 0%;
}

#our-story-content{
  /* width: 50%; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#our-story-content .content{
  width: 55%;
  padding-left: 10%;
}

#our-story-content p{
  text-align: justify;
}

.image-grid {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
}

.image-item {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.show-more-button {
  width: 180px;
  height: 180px;
  border: 2px dashed #aaa;
  background: transparent;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.image-gallery{
  width: 40%;
}


@media screen and (max-width: 1300px) {
  .doctor-details-container .sub-titles{
    gap: 5%;
  }

}

@media screen and (max-width: 1200px) {

  .service-card h3{
    font-size: 1.3em;
  }

  .service-card p{
    font-size: 1em;
  }

  .available, .unavailable{
    margin: 0 2.5px;
  }

  .doctor-details-container .sub-titles{
    gap: 3%;
  }

}

@media screen and (max-width: 1100px) {
  #front-page img{
    display: none;
  }

  #front-page{
    position: relative;
  }

  #front-page .bg-image{
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-image: url('../public/dental-clinic-img-new.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    filter: blur(3px);
    z-index: 0;
  }

  #front-page h1{
    z-index: 1;
    position: relative;
    font-size: 4.5em;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.6);
  }

  .front-buttons #main-button{
    opacity: 0.85;
  }

  .doctor-details-container .sub-titles{
    font-size: 0.9em;
  }

  .doctor-details-container p{
    font-size: 0.8em ;
  }

  .doctor-details-container h2{
    font-size: 1.2em;
  }

  .doctor-details-container img{
    width: 230px;
  }

  .doctor-details-container .doctor-details{
    height: 200px;
    padding: 20px;
  }

  .doctor-details h2{
    padding-top: 5px;
  }
}

@media screen and (max-width: 1000px) {

  #services{
      margin: 0 calc(20%/6);
  }

  .service-card{
    margin: 0 5%; 
    width: 40%;
  }

  .service-card p{
    font-size: 1em;
  }

  #footer p{
    font-weight: 400;
    font-size: medium;
  }  

  #footer h1{
    font-weight: 600;
    font-size: x-large;
  }  

  #footer h3{
    font-weight: 500;
    font-size: large;
  }  

}

@media screen and (max-width: 900px) {
  .navbar-buttons{
    /* display: none; */
    display: none;
    width: 100vw;
    background-color: aliceblue;
    padding: 10px 0;
    z-index: 1000;
  }

  .navbar-buttons a{
    /* display: none; */
    /* width: 100vw; */
    justify-content: center;
    background-color: aliceblue;
  }

  #navbar .navbar-menu-active{
    display: flex;
    flex-direction: column;
  }

  #navbar a{
    flex-direction: row;
  } 

  #navbar img{
    padding-left: 1rem;
  }

  #navbar{
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  #hamburger-menu{
    position: absolute;
    display:flex;
    border: none;
    background-color: white;
    right: 1rem;
    top: 1rem;
  }  

  #hamburger-menu:hover{
    cursor: pointer;
  }

  .contacts-container p{
    margin: 6px 0;
  }
  
}

@media screen and (max-width: 800px) {
  .doctor-details-container{
    flex-direction: column;
  }

  .doctor-details{
    height: fit-content !important;
    text-align: center !important;
    width: 100%;
  }

  .doctor-details h2{
    text-align: center;
  }

  .doctor-details .sub-titles{
    flex-direction: column;
  }

  .sub-titles p{
    margin: 5px;
  }

  #doctors-details-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .doctor-details-container{
    background-color: #E8ECFD;
    width: 70%;
    padding-top: 20px;
    border-radius: 10px;
  }

}

@media screen and (max-width: 500px) {
  .doctor-details-container img{
    width: 100%;
    height: 250px;
    border-radius: 10px 10px 0 0;
  }

  .doctor-details-container{
    padding-top: 0px;
  }
}

@media screen and (max-width: 600px) {
   #front-page h1{
    font-size: 3em !important;
   }
  
  .front-buttons #main-button{
    width: 100px;
  }

  #front-page h1{
    margin-top: 0;
  }

  #about-us h1, h2{
    padding: 0.75vh;
    font-size: 1.5em;
  }
  #about-us h1{
    font-size: 1.5em;
  }
  #about-us h2{
    font-size: 1em;
  }

  .service-card h3{
    font-size: 1.3em;
  }

  #services{
    margin: 0 calc(20%/6);
  }

  .service-card{
    margin: 0 15%; 
    width: 70%;
  }

  #services h1{
    font-size: 1.6rem;
  }

  .service-card p{
    font-size: 1em;
  }

  
  .service-card h3{
    font-size: 1.2em;
    padding-bottom: 5px;
  }

  .service-card p{
    font-size: 0.8em;
  }


  .contacts-grid{
    display: grid;
    grid-template-columns: 1fr; 
    width: 66%;
  }

  .contacts-container p{
    font-size: medium;
    font-weight: 400;
    margin: 4px 0;
  }

  #footer svg{
    font-size: x-small;
  }

  #footer p{
    font-size: x-small;
  }

  #footer h1{
    font-weight: 600;
    font-size: x-large;
  }  

  #footer h3{
    font-weight: 450;
    font-size: medium;
  }  
}

@media screen and (max-width: 300px) {
  #front-page h1{
    font-size: 3em !important;
  }
  #about-us h1, h2{
    padding: 0.75vh;
    font-size: 1.5em;
  }

  #about-us h1{
    font-size: 1.5em;
  }

  .about-us-buttons #main-button{
    max-width: 70px;
  }
}